/* Primary */
/* Neutral */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@keyframes nav-anim {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Buttons */
.btn {
  padding: 11px 24px;
  font-family: 'Karla', sans-serif;
  font-size: 0.84rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  background: transparent;
  transition: background 250ms ease-in, color 250ms ease-in;
}

.btn--black {
  border: 2px solid #2b272f;
  color: #2b272f;
}

.btn--black:hover {
  color: #fff;
  background: #2b272f;
}

.btn--white {
  border: 2px solid #fff;
  color: #fff;
}

.btn--white:hover {
  color: #2b272f;
  background: #fff;
}

/* Containers */
.container {
  max-width: 1105px;
  margin: 0 auto;
}

/* Helper class */
.scroll-y {
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .scroll-y {
    overflow-y: initial;
  }
}

/* Headings */
.h {
  font-weight: 400;
}

.h--large {
  font-size: 2.81rem;
  line-height: 48px;
  letter-spacing: 1px;
}

.h--big {
  font-size: 2.25rem;
  line-height: 40px;
  letter-spacing: 1px;
}

.h--med {
  font-size: 1.6875rem;
  line-height: 40px;
}

.h--small {
  font-size: 1rem;
}

.h--white {
  color: #fff;
}

.h--black {
  color: #2b272f;
}

@media (min-width: 768px) {
  .h--large {
    font-size: 3.75rem;
  }
  .h--big {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .h--big {
    font-size: 3.375rem;
  }
}

@media (min-width: 1200px) {
  .h--large {
    font-size: 4.25rem;
    line-height: 64px;
  }
}

/* Separators */
.separator {
  width: 150px;
  height: 1px;
  margin-bottom: 64px;
}

.separator--light {
  background: #fafafa;
}

.separator--dark {
  background: #837d87;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

.header {
  position: relative;
  padding: 0 24px;
  background: #fff;
  z-index: 5;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid #2b272f;
  background: transparent;
  cursor: pointer;
}

.header__hamburger-menu.open .header__hamburger {
  transform: translateX(-50px);
  background: transparent;
}

.header__hamburger-menu.open .header__hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.header__hamburger-menu.open .header__hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.header__hamburger {
  position: relative;
  width: 18px;
  height: 2px;
  background: #2b272f;
  border: none;
  transition: transform 250ms ease-in-out, background 250ms ease-in-out;
}

.header__hamburger::before, .header__hamburger::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background: #2d2640;
  transition: transform 250ms ease-in-out;
}

.header__hamburger::before {
  transform: translateY(5px);
}

.header__hamburger::after {
  transform: translateY(-5px);
}

.header__nav {
  position: absolute;
  width: 100vw;
  top: 80px;
  left: -24px;
  padding-top: 50px;
  height: 0;
}

.header__list {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
}

.header__item {
  opacity: 0;
}

.header__link {
  display: inline-block;
  margin-bottom: 40px;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Header media queries */
@media (max-width: 768px) {
  .header__btn {
    padding: 16px 64px;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
  }
  .header__nav {
    transition: all 0.35s ease-in;
  }
  .header__nav--active {
    height: calc(100vh - 80px);
    background: url(../../assets/img/bg-pattern-mobile-nav.svg), #2b272f;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0 40px;
  }
  .header__hamburger-menu {
    display: none;
  }
  .header__nav {
    position: static;
    display: flex;
    width: initial;
    top: unset;
    left: unset;
    padding: 0;
    height: auto;
  }
  .header__list {
    flex-flow: row;
  }
  .header__item {
    opacity: 1;
  }
  .header__link {
    color: #837d87;
    font-size: 0.84rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 28px;
    letter-spacing: 1px;
    word-spacing: initial;
    transition: color 250ms ease-in;
  }
  .header__link:hover {
    color: #2b272f;
  }
}

.kv {
  position: relative;
  background: #2d2640;
  z-index: 2;
}

.kv::before {
  position: absolute;
  content: url(../../assets/img/bg-pattern-intro-left-mobile.svg);
  top: 452px;
  left: 0;
}

.kv::after {
  position: absolute;
  content: url(../../assets/img/bg-pattern-intro-right-mobile.svg);
  bottom: -186px;
  right: 0;
}

.kv__image img {
  width: 100%;
  object-fit: cover;
  height: 451px;
}

.kv__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 90px 24px;
  text-align: center;
}

.kv__text {
  color: #fafafa;
  line-height: 28px;
  margin: 24px 0 28px 0;
  max-width: 533px;
}

/* Kv media queries */
@media (min-width: 768px) {
  .kv {
    padding: 0 40px;
  }
  .kv::before {
    content: url(../../assets/img/bg-pattern-intro-left-desktop.svg);
    top: unset;
    bottom: -335px;
  }
  .kv::after {
    content: url(../../assets/img/bg-pattern-intro-right-desktop.svg);
    bottom: unset;
    top: -83px;
  }
  .kv__container {
    display: flex;
    height: 600px;
  }
  .kv__image {
    order: 2;
    transform: translateY(110px);
  }
  .kv__image img {
    width: 100%;
    height: auto;
    min-height: 451px;
  }
  .kv__content {
    align-items: flex-start;
    justify-content: center;
    min-width: 470px;
    max-width: 565px;
    width: 100%;
    padding: 0;
    padding-right: 24px;
    text-align: left;
  }
}

.about {
  padding: 140px 24px;
}

.about__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.about__features {
  display: flex;
  flex-flow: column;
  margin-top: 85px;
}

.about__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 420px;
}

.about__card:not(:last-child) {
  margin-bottom: 50px;
}

.about__card-heading {
  margin: 32px 0 20px 0;
}

.about__card-text {
  color: #837d87;
  text-align: center;
}

/* About media queries */
@media (min-width: 768px) {
  .about__features {
    flex-flow: row;
  }
  .about__card {
    max-width: 225px;
  }
  .about__card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 1000px) {
  .about {
    padding: 304px 40px 160px 40px;
  }
  .about__container {
    align-items: flex-start;
  }
  .about__features {
    justify-content: space-between;
    width: 100%;
  }
  .about__card {
    max-width: 353px;
    align-items: flex-start;
  }
  .about__card-text {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */