.footer {
    position: relative;
    background: $c-light-gray;
    padding: 0 24px;

    ul {
        list-style: none;
    }

    &::before {
        position: absolute;
        content: url('../../assets/img/bg-pattern-footer-mobile.svg');
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__container {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 42px 0;
        z-index: 2;
    }

    &__top {
        display: flex;
        flex-flow: column;
        align-items: center;

        img {
            margin-bottom: 32px;
        }
    }

    &__socials {
        display: flex;
        margin-bottom: 32px;
    }

    &__socials-item {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        font-size: 1.6rem;
        text-decoration: none;
        color: $c-violet-grayish-dark;
    }

    &__separator {
        background: lighten($c-violet-grayish-dark, 35);
    }

    &__nav {
        display: flex;
        flex-flow: column;
    }

    &__nav-card {
        display: flex;
        flex-flow: column;
        margin-bottom: 32px;
    }

    &__nav-title {
        margin-bottom: 32px;
        font-family: 'Karla', sans-serif;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        color: $c-violet-grayish-dark;
    }

    &__nav-list {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    &__nav-item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__nav-link {
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        color: $c-violet-dark;
    }
}

/* Footer media queries */
@media (min-width: 768px) {
    .footer {
        &::before {
            content: url('../../assets/img/bg-pattern-footer-desktop.svg');
        }

        &__container {
            align-items: stretch;
        }

        &__top {
            flex-flow: row;
            justify-content: space-between;
        }

        &__socials-link {
            transition: color 250ms ease-in;

            &:hover {
                color: $c-violet-very-dark;
                animation: shake-hover 500ms ease-in forwards;
            }
        }

        &__nav {
            flex-flow: row;
            justify-content: space-between;
        }

        &__nav-list {
            align-items: flex-start;
        }

        &__nav-title {
            text-align: left;
        }

        &__nav-link {
            position: relative;
            
            &::before {
                position: absolute;
                content: '';
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 1px;
                background: $c-violet-very-dark;
                transition: width 250ms ease-in;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1000px) {
    .footer {
        padding: 0 40px;

        &__nav {
            justify-content: flex-start;
        }
    
        &__nav-card {
            max-width: 300px;
            width: 100%;
        }
    }
}