.kv {
    position: relative;
    background: $c-violet-dark;
    z-index: 2;

    &::before {
        position: absolute;
        content: url(../../assets/img/bg-pattern-intro-left-mobile.svg);
        top: 452px;
        left: 0;
    }
    
    &::after {
        position: absolute;
        content: url(../../assets/img/bg-pattern-intro-right-mobile.svg);
        bottom: -186px;
        right: 0;
    }

    &__image {
        img {
            width: 100%;
            object-fit: cover;
            height: 451px;
        }
    }

    &__content {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 90px 24px;
        text-align: center;
    }

    &__text {
        color: $c-light-gray;
        line-height: 28px;
        margin: 24px 0 28px 0;
        max-width: 533px;
    }
}

/* Kv media queries */
@media (min-width: 768px) {
    .kv {
        padding: 0 40px;

        &::before {
            content: url(../../assets/img/bg-pattern-intro-left-desktop.svg); 
            top: unset;
            bottom: -335px;
        }

        &::after {
            content: url(../../assets/img/bg-pattern-intro-right-desktop.svg);
            bottom: unset;
            top: -83px;
        }

        &__container {
            display: flex;
            height: 600px;
        }
        
        &__image {
            order: 2;
            transform: translateY(110px);

            img {
                width: 100%;
                height: auto;
                min-height: 451px;
                animation: kv-slide-right 1000ms ease-in forwards;
            }
        }

        &__content {
            align-items: flex-start;
            justify-content: center;
            min-width: 470px;
            max-width: 565px;
            width: 100%;
            padding: 0;
            padding-right: 24px;
            text-align: left;
            animation: kv-slide-left 1000ms ease-in forwards;
        }
    }
}