.work {
    padding: 0 24px;
    margin-bottom: 144px;

    &__container {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: $c-violet-dark;
        padding: 68px 24px;
        overflow: hidden;

        &::before {
            position: absolute;
            content: url(../../assets/img/bg-pattern-how-we-work-mobile.svg);
            top: 0;
            right: 0;
            z-index: 1;
        }
    }
    
    &__heading {
        max-width: 420px;
        margin-bottom: 32px;
        z-index: 2;
    }
}

/* Work media queries */
@media (min-width: 1000px) {
    .work {
        padding: 0 40px;
        
        &__container {
            flex-flow: row;
            justify-content: space-between;
            text-align: left;
            padding: 52px 80px;

            &::before {
                content: url(../../assets/img/bg-pattern-how-we-work-desktop.svg);
            }

        }

        &__heading {
            max-width: 500px;
        }

        &__cta {
            z-index: 2;
        }
    }
}