/* Buttons */
.btn {
    padding: 11px 24px;
    font-size: 0.84rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    transition: background 250ms ease-in,
                color 250ms ease-in;

    &--black {
        border: 2px solid $c-violet-very-dark;
        color: $c-violet-very-dark;

        &:hover {
            color: #fff;
            background: $c-violet-very-dark;
        }
    }

    &--white {
        border: 2px solid #fff;
        color: #fff;

        &:hover {
            color: $c-violet-very-dark;
            background: #fff;
        }
    }
}

/* Containers */
.container {
    max-width: 1105px;
    margin: 0 auto;
}