/* Buttons */
.btn {
    padding: 11px 24px;
    font-family: 'Karla', sans-serif;
    font-size: 0.84rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background: transparent;
    transition: background 250ms ease-in,
                color 250ms ease-in;

    &--black {
        border: 2px solid $c-violet-very-dark;
        color: $c-violet-very-dark;

        &:hover {
            color: #fff;
            background: $c-violet-very-dark;
        }
    }

    &--white {
        border: 2px solid #fff;
        color: #fff;

        &:hover {
            color: $c-violet-very-dark;
            background: #fff;
        }
    }
}

/* Containers */
.container {
    max-width: 1105px;
    margin: 0 auto;
}

/* Helper class */
.scroll-y {
    overflow-y: hidden;

    @media (min-width: 768px) {
        overflow-y: initial;
    }
}

/* Headings */
.h {
    font-weight: 400;

    &--large {
        font-size: 2.81rem;
        line-height: 48px;
        letter-spacing: 1px;
    }
    
    &--big {
        font-size: 2.25rem;
        letter-spacing: 1px;
    }

    &--med {
        font-size: 1.6875rem;
        line-height: 40px;
    }

    &--small {
        font-size: 1rem;
    }

    &--white {
        color: #fff;
    }

    &--black {
        color: $c-violet-very-dark;
    }
    
    @media (min-width: 768px) {
        &--large {
            font-size: 3.75rem;
        }
    
        &--big {
            font-size: 3.375rem;
        } 
    }
}