/* Primary */
$c-violet-dark: hsl(256, 26%, 20%);
$c-blue-grayish: hsl(216, 30%, 68%);

/* Neutral */
$c-violet-very-dark: hsl(270, 9%, 17%);
$c-violet-grayish-dark: hsl(273, 4%, 51%);
$c-light-gray: hsl(0, 0%, 98%);